*{
    padding: 0;
    margin: 0;
}
/* header ul li a{
    color: #6b5221;
    background-color: #f7cd51;
}
a{
    text-decoration: none;
    color: #6b5221;
}
header{
    display:flex;
   

}
header ul{
    list-style-type: none;
    display:flex;
    justify-content: right;
    margin-left: 70%;
   
    
}
#container {
    background-image: linear-gradient( to right bottom,#FADA7A 30%, #B1F0F7, #81BFDA, #F5F0CD);
}
header ul li{
  
    font-size: 30px;
    margin-right: 10px;



}
header h1{
    margin-left: 40px;
    font-size: 40px;
}

nav{
    margin-top: 10px;
}
 nav ul{
    list-style-type: none;
    display:flex;
    justify-content: center;
}
 nav ul li{
    font-size: 25px;
    justify-content: center;
    margin-right: 20px ;
    background-color:#f5c73e;
    padding: 5px 30px;
   

}

#container li:hover{
    background-color:#ead997 ;
    

} */

 #form{
    background-color: #fff;
    height: 500px;
}

 .div h1{
    font-size: 50px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    color: #1c8ec0;
    padding: 70px 0 20px;
}

 .login-sinUp ul {
display: flex;


}
 .login-sinUp li {
    display: flex;
    background-color: #ff4500;
    border-radius: 10px;
font-weight: 550;
    padding: 9px 10px;
    margin-left: 3px;
    margin-top: 10px;
    
    }

   .login-sinUp li:hover{
        background-color:#fff ;
        color: #ff4500;
        border: 1px solid orangered;
        
    }
     .login-sinUp li a:hover{
        color: #ff4500;
    }


    #form .div{
        margin-left: 210px;
        
    }

     label{
        font-size: 30px;
        /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
        color:#1c8ec0 ;
        margin-top: 10px;
        
    }

    form .divForLogin input{
        width: 50%;
        height: 50px;
        border:  1px solid #4ea0c3;
        border-radius: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }

    

    #form .ast{
        display: flex;
    }

    #form .ast p{
       color:rgb(188, 7, 7);
       margin-top: 10px;
    }

    .pr{
        font-size: 25px;
        margin-top: 5px;
    }
    
    #form #submit{
        /* margin: 30px 0; */
        padding: 10px 50px ;
        border-radius: 20px;
        background-color: orangered;
        border: none;
        color: white;
    }

    #form #submit:hover{
       
        background-color: #fff;
        color: #ff4500;
        border: 1px solid orangered;
        
    }

    /* -----------------------------------------footer----------------------------------- */
footer {
    width: 100%;
    height: 200px;
    background-color:#053e64;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    
}
footer .list  ul li a{
    color: white;
    display: inline-block;
    padding-bottom: 5px;
}
footer .list {
    margin-left: 10px;
    width: 15%;
    list-style: none;
    padding: 10px;
}
footer .list ul {
    list-style: none;
}
footer .list ul i {
    margin-right: 10px;
}
footer .list ul li span{
    font-weight: bold;
    color: #f5c15c ;
    
}
footer p {
    width: 50%;
    margin-left: 25%;
    color: white;
}
/* -----------------------------------------footer----------------------------------- */
